/* --- Base CSS for whole page --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
}
a {
	color: #333;
 	text-decoration: inherit;
}
li:hover {
 	cursor: pointer;
 	text-decoration: underline;
}

/* ---- Helpers ---- */
.img-responsive {
	width: 100%;
	display: block;
}
.margin-auto {
	margin: 0 auto;
}
.text-justify {
	text-align: justify;
}
.text-height {
	line-height: 170%;
}
.flex-container {
	display: flex;
}
.margin-TopBot{
	margin: 20px 0;
}



/* ---- HEADER ------ */
.header {
	width: 100%;
	height: 20px;
	display: flex;
	font-size: .7em;
	justify-content: space-between;
	padding-top: 6px;
	padding-left: 5px;
}
.header-links {
	display: flex;
}
.header-links li {
	padding: 0px 10px;
}
.header img {
	height: 100%;
}
/*** media-query ****/
@media(max-width: 769px) {
	.header {
		display: none;
	}
}


/* ---- NAVBAR ------ */
.navbar {   
  width: 75%;
  margin: auto;
  background: #f9f9f9; 
  align-items: center;
  padding: 20px 10px;
  font-size: .9em;

}
.mobile-nav {
	display: none;
}
.nav-links {
	height: 30px;
	display: flex;
	justify-content: space-between;
}
.nav-links img {
	height: 100%;
	
}
.nav-links li {
	padding-top: 15px;
}
/*** media-query ****/
@media(max-width: 769px) {
	.navbar {
		width: 100%;
		background: #000;
	}
	/* Toggling Desktop and Mobile versions of NavBar */
	.desktop-nav {
		display: none;
	}
	.mobile-links {
		color: #fff;
		/* toggles Mobile-Links on, using flex */
		display: flex; 
		justify-content: space-between;
		padding: 0 25px;
	}
	.mobile-links li {
		font-size: 1.5em;
	}
}



/* ---- MAINTEXT ------ */
.mainText {
	width: 80%;
	margin: 20px auto 50px;

}


/* ---- LOGO ------ */
.logo-image {
	width: 30%;
	margin: 50px auto;
	display: block;
}

/* ----- HERO ------ */
.hero {
	margin-bottom: 50px;
}
.hero:hover {
	opacity: .8;
	animation: pulse 1s infinite;
	animation-timing-function: linear;
}

/* ---- MAINCONTENT ------ */
.mainContent {
	width: 80%;
	margin-bottom: 50px;
}
.textStructure {
	text-align: center;
	width: 60%;
}
#rewardsImage {
	margin: 40px 0 20px;
}
#headerText {
	margin: 10px 0;
}
.topBox {
	text-align: center;
	background-color: #f9f9f9;
	margin-bottom: 10px;
}
.flex-twos {
	flex: 1 1 30%;
}
.square-images {
	margin: 10px 0;
}
.image-left {
	padding-right: 10px;
}
.image-right {
	padding-left: 10px;
}
.bottomBox {
	margin-top: 10px;
}
/* ---- Hover Effects ---- */
.hover-effect:hover .hover-image{
	opacity: 0.5;
}
.popUp {
	opacity: 0;
	position: absolute;
	width: 39%;
}
.hover-effect:hover .popUp {
	opacity: 1;
}

/*** media-query ****/
@media(max-width: 769px){
    .flex-container {
      flex-wrap: wrap;
    }
    .flex-twos {
      flex: 1 1 100%;
    }
}


